<p id="notice"><%= notice %></p>

<h1>Listado de Vinos</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cepas</th>
      <th>aviable</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vinos.each do |vino| %>
      <tr>
        <td><%= vino.name %></td>
        <td>
            <ul>

            <%= vino.cepa_vinos.each do |cepa_vino| %>
                <li><%= cepa_vino.cepa.name %></li>
                <li><%= cepa_vino.cepa.aviable %></li>
            <% end %>
            </ul>
        </td>
        <td><%= link_to 'Show', vino %></td>
        <td><%= link_to 'Edit', edit_vino_path(vino) %></td>
        <td><%= link_to 'Destroy', vino, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vino', new_vino_path %>
